<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 변경</h1>

<form action="/loginClient/loginPwdChange" method="post" onsubmit="return validateForm()">

  <label for="nowPassword">현재 비밀번호:</label>
  <input type="password" id="nowPassword" name="password" required><br><br>
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            alert([[${errorMessage}]]);
        </script>
    </div>
  <input type="submit" value="비밀번호 확인">
</form>

</body>
</html>