<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 변경</h1>
<form action="/clientlogin/loginChangePassword" method="post">

  <label for="new-password">새로운 비밀번호:</label>
  <input type="password" id="new-password" name="newPassword" required>
  <br>
  <label for="confirm-password">비밀번호 확인:</label>
  <input type="password" id="confirm-password" name="confirmPassword" required>
  <br>
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            alert([[${errorMessage}]]);
        </script>
    </div>
  <input type="submit" value="비밀번호 변경">
</form>
</body>
</html>